* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color: #f6f8f9;
  font-weight: 600;
}
header {
  background: white;
}
img {
  vertical-align: middle;
}
h1 {
  display: inline-block;
  font-size: 50px;
}
#logo {
  padding: 30px 50px;
}
main {
  background-color: white;
  width: 80%;
  margin: 5% auto;
  border-radius: 10px;
}
section {
  padding-left: 50px;
  color: white;
}
.first-button,
.second-button {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 5px;
  border-left: 25px;
}
#one {
  color: white;
  background-color: #47adf1;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
#two {
  color: #a3a7aa;
  background-color: white;
  border: 1px solid #a3a7aa;
  border-radius: 5px;
  padding: 10px;
}
ul {
  padding: 50px;
}
h2,
li {
  margin: 15px;
}
li {
  display: inline-block;
}
h2 {
  font-size: xx-large;
  vertical-align: middle;
}
